
<div class="toolbar" role="banner">

    <nav>
        <ul>
          <li><a routerLink="/ticket-buy" routerLinkActive="active">Buy Ticket</a></li>
          <li><a routerLink="/travel-simulation" routerLinkActive="active">Travel Simulation</a></li>

        </ul>
      </nav>
</div>

<div class="content" role="main">
    <router-outlet></router-outlet>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


